<h1>Order Confirmation</h1>

<p>Thank you, <%= name %>! Your order has been placed successfully.</p>
<p>Your shipping address: <%= address %></p>
<p>Payment method: <%= payment %></p>
<p>Total amount: $<%= totalAmount %></p>

<p><a href="/">Go to Home</a></p>
